@import url("https://use.typekit.net/iku0ibz.css");

:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 16px auto;
  display: flex;
  place-items: start center;
  min-height: calc(100vh - 20px - 16px - 16px);
  max-width: 1280px;
  border-bottom: 20px solid rgba(255, 81, 255, 0.633);
}

h2 {
  font-weight: bold;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-bottom: 34px;
}

.header > h1 {
  font-family: adlery-pro, sans-serif;
  font-weight: 400; 
  font-style: normal;
  font-size: 5em;
}

.header > h1 > a, a {
  color: rgba(255, 81, 255, 0.944);
  text-decoration: none;
}

.header > h1 > a:hover, a:hover {
  color: rgba(197, 61, 197, 0.944);
}

.contentBox {
  width: 100%;
  text-align: left;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
